/*
red - #ffadad
green - #e4f1ee
blue - #d9edf8
yellow - #fdffb6
*/


body{
    background-color: #d9edf8;
}


#buttonChoices{
    display: flex;
    justify-content: space-around;
    margin-bottom: 15%;
    margin-top: 5%;
}

#displayScores{
    display: flex;
    justify-content: space-around;
}

#declareWinner{
    display: flex;
    justify-content: space-around;
    margin-top: 15%;
}

.button{
    height: 200px;
    width: 200px;
}

.svg-icon{
    height: 100%;
}